body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: rosybrown;
    font-family: Arial, sans-serif;
}

form{
    background: white;
    padding: 40px;
    text-align: center;
    border-radius: 20px;
    width: 380px;
}

form input{
    display: block;
    background: none;
    margin: 30px auto;
    text-align: center;
    border: 2px solid rosybrown;
    outline: none;
    width: 180px;
    font-size: 28px;
    border-radius: 20px;

}

form input[type = "submit"]{
    cursor: pointer;
    font-size: 20px;
    font-weight: 850;
    background: rosybrown;
    color: white;
}

p{
    color: red;
    font-size: 28px;
    font-weight: 700;
}
